/* For pdf */
.react-pdf__Page {
  margin: 10px 5px 5px 5px;
}
.react-pdf__Page__textContent {
  border: 1px solid darkgrey;
  box-shadow: 5px 5px 5px 1px #ccc;
  border-radius: 3px;
}

.react-pdf__Page__annotations.annotationLayer {
  padding: 0px;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
}

/* For all pages */
.all-page-container {
  height: 100%;
  max-height: 500px;
  overflow: auto;
}

.button-large {
  justify-content: center;
  align-items: center;
  margin: 3px;
  background: #309aac;
  color: white;
  border: none;
  padding: 5px 10px;
  width: 100px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px #ccc;
  border: 1px solid #0e7a8d;
}
.button-large:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
}

.button-large:disabled,
.button-large[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.button-small {
  margin: 3px;
  background: #309aac;
  color: white;
  border: none;
  padding: 5px 10px;
  width: 50px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px #ccc;
  border: 1px solid #0e7a8d;
}
.button-small:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
}

.button-small:disabled,
.button-small[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
